*{font-family: 'Tilt Neon', cursive;}
*{box-sizing: border-box;}

.container{
    display: flex;
    height: 50vh;
    width: 100vw;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
div.relative{
    position: relative;
}
div.absolute{
    position: absolute;
    top: 50px;
    left: 25px;
}
.capitais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: ghostwhite;
    padding: 50px;
}

.capitais > div{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.capitais img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child{
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}
.circulo{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corte img{
    position: absolute;
    clip: rect(75px,300px,200px,0px);
}


.index {
    position: absolute;
    z-index: -2;
    width: 430;
    height: 644;
    background-color: blue;
}

.esconder:hover{
    visibility: hidden;
}
.divnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    color: rgb(53, 233, 128);
}
.ancora{
    padding: 30px;
    size: 30px;
   
    color: aquamarine;
}
a{
    text-decoration: none;
}
a:hover{
     background-color: gray;
    font-weight: bold;
}
.grid{
    display: grid;
    grid-template-areas: 
    "header header nav"
    "main  main right"
    "footer footer footer";
    grid-column: 2fr 2fr 1fr;
    grid-row: 20% 1fr 75px;
    
}
header{grid-area: header;}
nav{grid-area: nav;
    background-color: red;
    }
main{grid-area: main;
    background-color: cadetblue;
    }
aside{grid-area: right;
    color: chartreuse;
    text-align: right;
    background-image: url(https://images.unsplash.com/photo-1677598261466-9a06db3e842c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80);
    background-size: cover;}
footer{grid-area: footer;
    color: azure;
    text-align: right;
    background-image: url(https://images.unsplash.com/photo-1677598261466-9a06db3e842c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80);
    background-size: cover;
}